body {
  /* Specify the background image URL */
  background-image: url('../public/job_portal-unsplash.jpg');
  /* Set background image size and position */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Add other styles as needed */
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Custom CSS for Navbar */
.custom-navbar {
  background-color: #E0CCBE;
}

.navbar-brand {
  font-weight: bold;
  color: #747264;
}

.nav-link {
  color: #747264 !important; /* Text color for links */
  margin-right: 15px; /* Add some space between the links */
}

/* Button styling */
.btn-outline-light {
  color: #747264;
  border-color: #747264;
}

.btn-outline-light:hover {
  background-color: #fff;
  color: #333;
}

.link-gap {
  margin-right: 20px; /* Adjust the spacing as needed */
}


.buttons button {
  margin-left: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #d9edf1;
  color: #fff;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #a7c3e0;
}

/* .job-tile {
  background-color: #e0e8df;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: calc(25% - 20px); /* Adjust width to fit four tiles in one row */
  /* box-sizing: border-box;
  display: inline-block;
  vertical-align: top; 
} 
*/

/* .job-tile h2 {
  margin-top: 0;
} */

/* .job-tile p {
  margin: 10px 0;
} */

.body-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh; /* Adjust height as needed */
}

.body-content {
  width: 70%; /* Adjust width as needed */
}

.large-text {
  font-size: 7rem; /* Adjust font size as needed */
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-input {
  margin-right: 10px; /* Adjust margin as needed */
}

.search-btn {
  width: 150px; /* Adjust button width as needed */
}


.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.social-media a {
  color: #fff;
  margin: 0 10px;
  font-size: 20px;
}

.links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.copyright p {
  margin-top: 20px;
}

.link-gap {
  margin-right: 20px; /* Adjust the spacing as needed */
}

.login-container {
  padding-top: 60px;
}

.custom-card {
  background-color: #E0CCBE;
  border: none;
}

.custom-btn {
  background-color: #747264;
  border: none;
}

.custom-btn:hover {
  background-color: #3C3633;
}



.register-container {
  padding-top: 60px;
}

/* .register-form .form-group {
  margin-bottom: 20px;
}

.register-form label {
  display: block;
  margin-bottom: 5px;
}

.register-form .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-btn2 {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.register-btn:hover {
  background-color: #0056b3;
} */
.welcome-heading {
  margin-top: 20px;
  margin-bottom: 30px;
}

.job-container {
  margin-bottom: 30px;
}

.job-card {
  margin-bottom: 20px;
}

.view-jobs-btn {
  margin-top: 20px;
}
